body {
	background-image: url("img/grey-texture.jpg");
	margin: 0px;
	padding: 0px;
}

#main {
	background: white;
	position: relative;

}
#info {
	position: absolute;
	left:625px;
 	top:50px;
	font-family: Georgia;
	font-size: 45px;
	text-shadow: 2px 2px #1a9fdd;
}

#lvldisplay{
	border: 6px outset #319fb2;
	position: absolute;
	top: 560px;
	width: 528px;
	padding:10px;
	font-family: Comic Sans MS;
	font-size: 30px;
	text-shadow: 1px 1px #1a9fdd; /*#dd751a;*/
	text-align: center;
}

#keys {
	position: absolute;
	left: 700px;
	top: 120px;	
}
#space {
	position:absolute;
	top: 300px;
	left: 660px;
}

#legend {
	position: absolute;
	left: 560px;
	top: 360px;
	padding: 20px;
	font-family: Georgia;
	font-size: 25px;
	text-shadow: 0.5px 0.5px #1a9fdd;

}

th, td {
	padding: 5px;
}

#mapsDiv {
	position: absolute;
	background: url("img/grey-texture.jpg");	/*background: #f4f1e6;/*#dfeadc;*/
	border: 10px outset #319fb2;/*#C65D05;*/
	width: 540px;
	height: 540px;
}
.platinum {
	background: url(img/platinum.png);
}
.grass {
	background: url(img/grass.png);
}
.wall {
	background: url(img/wall20.png);
}
.water {
	background: url(img/water40.png);
}
.crown {
	background: url(img/crown.jpg);
}

.shield {
	background: url(img/shield.jpg);
	
	/*https://giphy.com/gifs/shield-ErQvxgANM5MLC);
	width: 40px;
	height: 40px; */
}
.shieldedTank {
	background: url(img/shieldedTank.png) no-repeat;
	position: absolute;
	width: 40px;
	height: 40px;
	overflow: hidden;
	z-index: 101;
}
.allytank {
	background: url(img/mytank.png) no-repeat;
	position: absolute;
	width: 40px;
	height: 40px;
	overflow: hidden;
	z-index: 100;
	left: 20px;
	top: 240px;
}
.enemytank {
	background: url(img/etank.png) no-repeat;
	position: absolute;
	width: 40px;
	height: 40px;
	overflow: hidden;
	z-index: 100;
}
.bomb {
	background: url(img/missiles.png) no-repeat;
	position: absolute;
	width: 40px;
	height: 40px;
	overflow: hidden;
}