body{
    margin: 0;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color:#262522;
}

#general{
	margin: 0 auto;

	width: 100%;
	background:url("../img/bg_all.png");
	background-repeat: repeat;
}
#header{
	display: block;
	height: 173px;
	width: 1000px;
	margin: 0 auto;
}
#header_logo img{
	float: left;
	margin-left: 285px;
}
#img{
	display: block;
	float: left;
}
#header_search{
	display: block;
	float: left;
	width: 181px;
	margin-left: 153px;
	margin-top: 100px;
}
#search_button{
	margin-left: -10px;
	background: url('../img/search.png') no-repeat;
	width: 30px;
	border: none;
	height: 25px;
	padding: 5px;
	float: left;
}
#header_nav{

	float: left;
	display: inline;
	list-style: none;
	width: 960px;
	background: #fcb040;
	height: 32px;
	line-height: 2;

	border: 2px solid #63562c;
	-webkit-border-radius: 10px;
    
    border-radius: 10px;
    -webkit-box-shadow:  0px 5px 5px 0px rgba(5, 5, 5, 0.35);
        
        box-shadow:  0px 5px 5px 0px rgba(5, 5, 5, 0.35);

}

#header_nav li:first-child{
	margin-left: -30px;
}

#header_nav li{
	float:left;
	margin-right:10px;
	border-right: 2px solid #63562c;
	padding-right: 10px;
}

#header_nav li a {
	text-decoration: none;
	color: white;
}

#header_nav li a:hover{
	color: #63562c;
}

#main {
	width: 1000px;
	display: block;
	position: relative;
	overflow: hidden;
	height: 100%; 
	background-repeat: repeat;
	margin: 0 auto;
}
#main_sidebar {
	width: 265px;
	float: left;
	margin-left: 25px;
}
#sidebar_aur{
	background: white;
	width: 265px;
	overflow: hidden;
	padding: 5px;
	margin-bottom: 30px;
	border: 1px solid #fcb040;
	margin-top: 20px;
}
#sidebar_argint{
	background: white;
	width: 265px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #fcb040;
}

#content{
	display: block;
	width: 670px;
	float: right;
	margin-top: 20px;
}

.titlu{
	display: block;
	width: 202px;
	margin-left: -5px;
	padding-left: 73px;
	border-bottom: 2px solid #fcb040;
	margin-bottom: 10px;
}

.content_articol{
display: block;
width: 635px;
margin-bottom: 20px;
border: 1px solid #fcb040;
background: white;
overflow: hidden;
}

.articol_imagine{
	width: 210px;
padding: 2px;
float: left;
margin: 10px;
-webkit-box-shadow:  0px 2px 2px 2px rgba(100, 100, 100, 0.4);
        
        box-shadow:  0px 2px 2px 2px rgba(100, 100, 100, 0.4);
}

.content_credite{
	display: block;
width: 635px;
margin-bottom: 20px;
border: 1px solid #fcb040;
background: white;
overflow: hidden;

}

.articol_text{
margin-top: 5px;
width: 380px;
float: left;
}

#footer{
width: 1000px;
background: #fcb040;
overflow: hidden;
margin: 0 auto;
}
#footer_menu{
width: 325px;
float: left;
margin: 3px;
margin-left: 0px;
}

#footer_about{
	width: 330px;
float: left;
margin: 3px;
}



#footer_nav{
	list-style: none;
	width: 115px;
	display: block;
	margin-top: 10px;
	margin-left: 74px;
}
#footer_nav li a{
	color: white;
	text-decoration: none;
}
#footer_nav li a:hover{
	color: #63562c;
}

.gramaj{
	margin-left: 10px;
}
#aur_preturi{
text-align: center;
width: 240px;
height: 210px;
margin-top: 5px;
margin-left:10px;
overflow:auto;
}

#argint_preturi{
width: 240px;
margin-left: 10px;
}
#footer{
	background: #f99304;
background: -moz-linear-gradient(top,  #f99304 0%, #fcb040 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f99304), color-stop(100%,#fcb040));
background: -webkit-linear-gradient(top,  #f99304 0%,#fcb040 100%);
background: -o-linear-gradient(top,  #f99304 0%,#fcb040 100%);
background: -ms-linear-gradient(top,  #f99304 0%,#fcb040 100%);
background: linear-gradient(to bottom,  #f99304 0%,#fcb040 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99304', endColorstr='#fcb040',GradientType=0 );

}
#footer_about{
	color:white;
	border-left:1px solid;
	width: 310px;

	height: 265px;
}

#footer_contact{
	color:white;
	float:right;
	border-left: 1px solid;
	width: 322px;
	margin:3px;
}

#text_mesaj{
margin-left: 3px;	
margin-top: 2px;
}

#text_email{
	margin-left: 1px;

	width: 226px;
}

#text_nume{
	width: 226px;
}

#img_plic{
	margin-left:100px;
}

#argint_buton{
	width: 100px;
height: 30px;

	margin: 0 auto;
	display: block;
	margin-bottom: -10px;
}

#aur_buton{
		width: 100px;
		height: 30px;
		margin: 0 auto;
		display: block;
		margin-bottom: -10px;
}

.aur-radio{
	width: 100px;
	display: block;
	float: left;
	margin-left: 32px;
	margin-bottom: 2px;
}
.text-gramaj{
	margin-left: 10px;
	margin-top: 10px;
}
.aur-gramaj{
	margin-left:10px;
}

.aur-gramaj-textarea{
	max-width:240px;
	max-height: 210px;
	overflow: hidden;

	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid grey;
	padding-top: 5px;
	padding-bottom: 5px;
}
.aur-pret{
    width: 200px;
    display: block;
    margin: 0 auto;
}

.aur_valoare{
	margin-left: 10px;
}

.informativ{
	margin-left: 10px;
}

.argint-pret{
	margin-left: 33px;
	margin-right: 40px;
	margin-bottom: 5px;
}

.titlu-produs{
	text-align: center;
}

.titlu-credit{
	text-align: center;
	border-bottom: 2px solid #fcb040;
}

.conditii{
margin-left: 40px;
}

.lista-conditii{
	font-weight: normal;
}
#descriere-footer{
	width: 240px;
display: block;
margin-left: 50px;
margin-top: 10px;

}

#contact{
	margin-left: 15px;
	margin-top: 5px;
}
#mesaj{
	display: block;
width: 48px;
float: left;
margin-right: 1px;
}
.footer_buton{
    margin-left: 180px;

}

.slider-wrapper{
	width: 1000px;
	margin: 0 auto;
}
#color-overlay{
    width: 100%;
	
    background:url("../img/bg_top.png");
    background-repeat: repeat;
  -webkit-box-shadow:  0px 5px 5px 0px rgba(5, 5, 5, 0.35);
        
        box-shadow:  0px 5px 5px 0px rgba(5, 5, 5, 0.35);
}
#footer-overlay{
	width: 100%;
	background: #f99304;
background: -moz-linear-gradient(top,  #f99304 0%, #fcb040 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f99304), color-stop(100%,#fcb040));
background: -webkit-linear-gradient(top,  #f99304 0%,#fcb040 100%);
background: -o-linear-gradient(top,  #f99304 0%,#fcb040 100%);
background: -ms-linear-gradient(top,  #f99304 0%,#fcb040 100%);
background: linear-gradient(to bottom,  #f99304 0%,#fcb040 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99304', endColorstr='#fcb040',GradientType=0 );

}